name: Publish `npm`

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      # Only publish on version changes
      - package.json
      - .github/workflows/publish-npm.yml

# The OIDC ID token is used for authentication with JSR.
permissions:
  contents: read
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
concurrency:
  # Make the group unique, but, distinguish between automatic and manual dispatch
  group: npm-${{ github.ref }}${{ github.event_name == 'workflow_dispatch' && '[dispatch]' || '' }}
  cancel-in-progress: true

jobs:
  publish:
    runs-on: ubuntu-latest
    environment:
      name: npm
      url: https://jsr.io/@quick-vite/gh-pages-spa
    permissions:
      contents: read
      id-token: write 
    steps:
      - uses: actions/checkout@v4 
      # Supposedly this speeds up the build
      # https://github.com/actions/setup-node/issues/819#issuecomment-1659698335
      - uses: actions/cache@v3
        with:
          path: '~/.pnpm'
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          cache: 'pnpm'
          cache-dependency-path: 'pnpm-lock.yaml'
          check-latest: true
          registry-url: 'https://registry.npmjs.org'
      - name: Install dependencies
        run: pnpm install
      - name: Publish to NPM registry
        run: pnpm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}