name: Publish `jsr`

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      # Only publish on version changes
      - jsr.json
      - .github/workflows/publish-jsr.yml

# The OIDC ID token is used for authentication with JSR.
permissions:
  contents: read
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
concurrency:
  # Make the group unique, but, distinguish between automatic and manual dispatch
  group: jsr-${{ github.ref }}${{ github.event_name == 'workflow_dispatch' && '[dispatch]' || '' }}
  cancel-in-progress: true

jobs:
  publish:
    runs-on: ubuntu-latest
    environment:
      name: jsr
      url: https://jsr.io/@quick-vite/gh-pages-spa
    permissions:
      contents: read
      id-token: write 
    steps:
      - uses: actions/checkout@v6 
      # Supposedly this speeds up the build
      # https://github.com/actions/setup-node/issues/819#issuecomment-1659698335
      - uses: actions/cache@v4
        with:
          path: '~/.pnpm'
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          cache: 'pnpm'
          cache-dependency-path: 'pnpm-lock.yaml'
          check-latest: true
      - name: Install dependencies
        run: pnpm install
      - name: Publish to JSR registry
        run: pnpm publish:jsr